<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    {% block head %}
    {% endblock %}
    <body>
    </body>
    <!-- banner组件 -->
    {% include "../../components/banner/index.html" %}

    <!-- 根元素  做切页局部刷新 -->
    <div id="app">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <!-- pjax 帮我们切换路由 多页项目做单页切换用的 -->
    <script src="https://cdn.staticfile.org/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery.pjax/2.0.1/jquery.pjax.min.js"></script>
    <script>
        // pjax 功能 把下一页的url 通过ajax 的方式发出去 改掉url 相当于劫持了a标签的跳转 同时换掉url
        $(document).pjax('a', '#app'); // 代理a标签 输出到#app
    </script>
    {% block script %} {% endblock %}
</html>
