{% extends '../layouts/layout.html' %}

{% block title %}[[ title ]]{% endblock %}

{% block head %}
    <link rel="stylesheet" href="styles/index.css">
{% endblock %}

{% block content %}
    <!-- 页面vue渲染  csr -->
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <!-- 服务端渲染 ssr -->
    <h1>[[ data ]]</h1>
{% endblock %}
{% block script %}
    <!-- 如果浏览器支持es6+语法的执行环境 -->
    <script type="nomodule">
        import('/scripts/index.js').then(_ => {
            console.log(_.default); // 拿到export defalut 出来的东西了
        });
    </script>

    <!--  如果浏览器不支持 -->
    <!-- 
        需要安装 @babel/core @babel/cli @babel/preset-env 包 
        yarn add @babel/core  @babel/cli @babel/preset-env --save-dev
        执行 npm run build
     -->
    <script type="module" src="https://cdn.bootcss.com/systemjs/3.1.6/system.min.js"></script>
    <script type="module">
        System.import('/scripts/index-bundle.js').then(_ => {
            console.log(_.default); // 拿到export defalut 出来的东西了
        });
    </script>
    <!-- 直接引不支持export语法 -->
    <!-- <script src="scripts/index.js"></script> --> 
{% endblock %}