.components-login {
  width: 300px;

  & span {
    color: orange;
  }
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-image: url('~@assets/images/bg.jpeg');
}

.login-container {
  display: flex;
  text-align: left;
  color: red;
  background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1566053157833&di=260aa8001fbb807c2fef09821595f087&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F03839555742a6c932f875b70fb894f0.jpg) 0 0 no-repeat;
  background-size: cover;

  & form {
    width: 300px;
  }
}

form {
  padding-top: 38px;
  text-align: center;
}

form input {
  text-align: left !important;
}

 form .ant-input-affix-wrapper:nth-child(2) {
  margin-top: 20px;
}

 form .ant-btn {
  margin-top: 21px;
  width: 113px;
}