<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>websocket 聊天室</title>
</head>
<body>
    <input type="text" placeholder="输入消息">
    <button>发送</button>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="javascripts/socket.io.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>